body 
{   
	margin:0px; padding:0px;  
	background-color:#ffffff;  
	font-family:Arial, Helvetica, sans-serif;  
}  
 
#container
{  
	background:url(layout1big.jpg) no-repeat;  
	min-height:800px;
	width:1100px;
	position:relative;
}  

/* 
    Logo  / Banner / Menu Positioning 
*/ 
#logo 
{ position:absolute; top:85px; left:610px; }  

#banner 
{ position:absolute; top:211px; left:51px; }  

ul#menu 
{  
    margin:0px; padding:0px; 
    position:absolute; top:170px; left:75px;  
}  

ul#right_menu 
{  
    margin:0px; padding:0px;  
    position:absolute; top:170px; right:180px;
}

ul#menu li, ul#right_menu li
{  
    margin:0px; padding:0px;  
    list-style:none;
    margin-right:10px;
    font-size:12px;  
    text-transform:uppercase;  
    display:inline;  
} 

ul#menu li a, ul#right_menu li a
{  
    text-decoration:none;  
    color:#ff6600;  
}  

ul#menu li a:hover, ul#right_menu li a:hover
{  
    text-decoration:none;  
    color:#bb4400;  
}  

#fb_btn {position:absolute; top:170px; right:160px;}

#content
{
	padding-top:415px;  
	padding-left:75px;  
	width:840px;  
	color:#555555;  
	font-size:14px;  
	line-height:20px;  
}  

#content h2 
{  
    font-family:Georgia, "Times New Roman", Times, serif;  
    color:#ff6600;  
    margin:15px 0px 0px 0px;  
    font-weight:bold;  
}
.column1 { float:left; width:250px; margin-right:30px; }
.column2 { float:left; width:280px; margin-right:30px; }
.column3 { float:left; width:250px; }

#content a
{
    text-decoration:none;  
    color:#ff6600;
}

#content a:hover
{
	text-decoration:none;  
	color:#bb4400; 
}