/*
 * Author: Logan Apple
 * Date: May 12th, 2021
 */

/**********************************************************
 * Font Imports
 *********************************************************/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

/**********************************************************
 * Base Elements
 *********************************************************/

html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 28pt;
  margin-bottom: 0;
}

h2 {
  font-size: 16pt;
  font-style: italic;
  margin-top: 6pt;
}

h3 {
  font-size: 12pt;
}

object {
  width: 100%;
}

/**********************************************************
 * IDs
 *********************************************************/

#side-container {
  width: 300px;
  padding: 10px;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition: all 0.5s ease-in-out 0s, opacity 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out 0s, opacity 0.5s ease-in-out;
}

#side-container.hidden {
  width: 0%;
  opacity: 0;
  z-index: -1;
  -webkit-transform: translate3d(-100%, 0px, 0px);
  transform: translate3d(-100%, 0px, 0px);
  transition: all 0.5s ease-in-out 0s, opacity 0.2s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out 0s, opacity 0.2s ease-in-out;
}

#main-container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

#menu-btn {
  position: fixed;
  background-color: #FFF;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 18px;
  top: 4px;
  left: 4px;
}

#sticky-container {
  position: sticky;
  top: 42px;
  margin-top: 32px;
}

#sticky-container h1 {
  margin-top: 0;
}

#title-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  text-align: left;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background-image: url("../assets/Dream_of_Caltech_by_Weilai_Yu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#title-container img {
  object-fit: fill;
}

#title-container article {
  width: 100%;
  color: #FFF;
  padding: 10px;
  align-self: center;
  background-color: rgba(0,0,0,0.5);
}

#title-container h1 {
  margin-top: 0;
}

#title-container h1, h2, h3 {
  vertical-align: center;
  text-align: center;
}

#main-container .in-focus ~ .scroll-indicator-controller div span {
  color: #FFF;
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

#exhibit1 {
  background-image: url("../assets/A_Year_Like_No_Other_by_Celia_Chari.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit3 {
  background-image: url("../assets/Arch_of_BI_by_Weilai_Yu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit4 {
  background-image: url("../assets/Big_Bear_Lake_by_Weilai_Yu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit5 {
  background-image: url("../assets/Color_of_2021_by_Weilai_Yu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit6 {
  background-image: url("../assets/Color_of_Fall_by_Weilai_Yu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit8 {
  background-image: url("../assets/Dream_of_Caltech_by_Weilai_Yu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit9 {
  background-image: url("../assets/Driftless_by_Danny_Wendt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit11 {
  background-image: url("../assets/Flower_Medley_by_Celia_Chari.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit12 {
  background-image: url("../assets/Looking_Closely_at_the_Flowers_by_Nora_Griffith.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit13 {
  background-image: url("../assets/Mile_Markers_by_Katelyn_Lee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit14 {
  background-image: url("../assets/Palos_Verdes_Sunset_by_Weilai_Yu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit15 {
  background-image: url("../assets/Piper_by_Liam_Silvera.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit16 {
  background-image: url("../assets/Sandy_Sunrise_by_Nora_Griffith.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit17 {
  background-image: url("../assets/Second_Home_by_Liam_Silvera.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit18 {
  background-image: url("../assets/Sorcery_by_Logan_Apple.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit19 {
  background-image: url("../assets/Wandergreen_by_Logan_Apple.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit20 {
  background-image: url("../assets/Wildfire_by_Logan_Apple.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit21 {
  background-image: url("../assets/Woods_by_Liam_Silvera.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#exhibit22 {
  background-image: url("../assets/Zoom_In_Zoom_Out_by_Pearl_Chen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/**********************************************************
 * Classes
 *********************************************************/

.exhibit-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  text-align: left;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.exhibit-container img {
  object-fit: fill;
}

.exhibit-container article {
  width: 100%;
  align-self: flex-end;
  color: #FFF;
  padding: 10px;
  background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
  opacity: 0;
  transition: all 1s ease-in-out;
}

.exhibit-container h2 {
  color: #FFF;
  text-align: left;
}

.exhibit-container .in-focus {
  opacity: 1;
  transition: all 1s ease-in-out;
}
